* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 60px;
}

body {
  padding: 30px;
  background-color: #FFA07A;
}

h1 {
  color: black;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.botoes {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 16px;
  color: black;
  background-color: #FFDEAD;
}

.botoes:hover {
  background-color: black;
  color: white;
}

#primeiraLista {
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listaBtn {
  list-style-type: none;
  display: inline;
}

.informaçõesAlunos {
  color: black;
  display: flex;
  flex-direction: row;
}

.quadrado {
  width: 25%;
  padding-left: 10px;
  border-right: 1px solid black;
  line-height: 0.5;
}

footer {
  margin-top: 8px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  border-top: 1px solid black;
}